.select-roles-progress-bar-icon{
    width: 9vw;
    height: 16vh;
    border-style: solid;
}
.select-roles-progress-bar-container{
    width:20%;
    /* Height set by height of icons */
    display:flex;
    justify-content: center;
    margin-bottom:8%;
}
.select-roles-selected{
    width: 16vw;
    height: 25vh;
    border: 5px, solid, rgb(255, 255, 255);
}
.select-roles-notSelected{
    width: 16vw;
    height: 25vh;
}